//This file is included from the webvw.rc so all paths to files in this file 
// should be relative to webvw directory instead of this directory
#pragma code_page(65001)
#include "resource.h"
#include "windows.h"

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN

STRINGTABLE
BEGIN
    IDS_STARTPANE_INFOTIP_SEARCH    "Abre una ventana en la que puede elegir opciones de búsqueda y trabajar con los resultados."
    IDS_STARTPANE_INFOTIP_HELP      "Abre una ubicación central para los Temas de ayuda, tutoriales, solución de problemas y otros servicios de soporte técnico."
    IDS_STARTPANE_INFOTIP_WINSECURITY ""
    IDS_STARTPANE_INFOTIP_FILERUN   "Abre un programa, una carpeta, un documento o un sitio Web."
    IDS_STARTPANE_INFOTIP_CLIENTINET "Abre su explorador de Internet."
    IDS_STARTPANE_INFOTIP_CLIENTMAIL "Abre su programa de correo electrónico para que pueda enviar y recibir mensajes."

    IDS_STARTPANE_TITLE_SEARCH    "&Buscar"
    IDS_STARTPANE_TITLE_HELP      "&Ayuda y soporte técnico"
    IDS_STARTPANE_TITLE_WINSECURITY "Seguridad de &Windows"
    IDS_STARTPANE_TITLE_FILERUN   "&Ejecutar..."
    IDS_STARTPANE_TITLE_CLIENTINET "Internet"
    IDS_STARTPANE_TITLE_CLIENTMAIL "Correo electrónico"

END

STRINGTABLE
BEGIN
    IDS_SFTHOST_OFFERREMOVEITEM "El elemento que ha seleccionado no está disponible. Es posible que se le haya cambiado el nombre, haya sido movido o quitado. ¿Desea quitarlo de la lista?"

    IDS_SFTHOST_REMOVEFROMLIST  "&Quitar de esta lista"
    IDS_SFTHOST_SHOWONDESKTOP   "&Mostrar en el escritorio"

    IDS_STARTPANE_MOREPROGRAMS  "T&odos los programas"
    IDS_STARTPANE_MOREPROGRAMS_TIP "Muestra una lista de programas en su equipo."
    IDS_STARTPANE_MOREPROGRAMS_BALLOONTITLE "Nuevos programas instalados."
    IDS_STARTPANE_SPECIALITEMSTIP "Si desea volver a poner los iconos de Internet o correo electrónico en su menú Inicio, haga clic con el botón secundario del mouse en el botón Inicio, seleccione Propiedades, haga clic en Personalizar, y seleccione la casilla de verificación apropiada."

    IDS_STARTPANE_CLIPPED_TITLE     "No se pueden mostrar algunos elementos"
    IDS_STARTPANE_CLIPPED_TEXT      "No hay espacio suficiente para mostrar todos los elementos que ha anclado al menú Inicio. Para que pueda mostrarlos, elija iconos de menú más pequeños, elija una cantidad menor de elementos o desancle algunos elementos."

    IDS_LOGOFF_TEXT_FRIENDLY    "|Desacoplar &equipo|&Cerrar sesión|&Apagar equipo|De&sconectar||"
    IDS_LOGOFF_TEXT_DOMAIN      "|Desacoplar &equipo|&Cerrar sesión|Ap&agar|D&esconectar||"

    IDS_LOGOFF_TIP_EJECT       "Quita su equipo portátil o de mano de la estación de acoplamiento."
    IDS_LOGOFF_TIP_LOGOFF      "Proporciona opciones para cerrar sus programas y cerrar sesión, o para dejar sus programas ejecutando y cambiar de usuario."
    IDS_LOGOFF_TIP_SHUTDOWN    "Proporciona opciones para apagar y reiniciar su equipo, o para activar los modos Suspender o Hibernar."
    IDS_LOGOFF_TIP_DISCONNECT  "Desconecta su sesión. Puede volver a conectarse a la sesión cuando inicie sesión nuevamente."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CUSTOMTIP_MYDOCS    "Abre la carpeta Mis documentos en la que puede almacenar cartas, informes, notas y otro tipo de documentos."
    IDS_CUSTOMTIP_RECENT    "Muestra documentos y carpetas abiertas recientemente."
    IDS_CUSTOMTIP_MYMUSIC   "Abre la carpeta Mi música en la que puede almacenar música y otros archivos de audio."
    IDS_CUSTOMTIP_MYPICS    "Abre la carpeta Mis imágenes en la que puede almacenar fotos digitales, imágenes y archivos de gráficos."
    IDS_CUSTOMTIP_MYNETPLACES "Da acceso e información sobre carpetas y archivos en otros equipos."
    IDS_CUSTOMTIP_MYCOMP    "Proporciona acceso e información acerca de unidades de disco, cámaras, escáneres y otro hardware conectado a su equipo."
    IDS_CUSTOMTIP_CONNECTTO "Se conecta a otros equipos, redes e Internet."
    IDS_CUSTOMTIP_CTRLPANEL "Proporciona opciones para personalizar la apariencia y funcionalidad de su equipo, agregar o quitar programas, y establecer conexiones de red y cuentas de usuario."

    IDS_STARTPANE_CONNECTTO         "&Conectar a"
    IDS_STARTPANE_CONTROLPANEL      "&Panel de control"
    IDS_STARTPANE_FAVORITES         "&Favoritos"
    IDS_STARTPANE_RECENT            "&Documentos recientes"
END

STRINGTABLE
BEGIN
    IDS_STARTPANE_TOTALHEIGHT       "440"
    IDS_STARTPANE_TOTALWIDTH        "380"
    IDS_STARTPANE_USERHEIGHT        "40"
    IDS_STARTPANE_MOREPROGHEIGHT    "30"
    IDS_STARTPANE_LOGOFFHEIGHT      "40"
END

MENU_CONNECTTO MENUEX PRELOAD DISCARDABLE
BEGIN
                MENUITEM "", -1,               MFT_SEPARATOR
                MENUITEM "&Mostrar todas las conexiones", IDM_OPENCONFOLDER
END
