//This file is included from the webvw.rc so all paths to files in this file 
// should be relative to webvw directory instead of this directory
#pragma code_page(65001)
#include "resource.h"
#include "windows.h"

LANGUAGE LANG_POLISH, 0x1

STRINGTABLE
BEGIN
    IDS_STARTPANE_INFOTIP_SEARCH    "Otwiera okno, w którym można wybrać opcje wyszukiwania i pracować z jego wynikami."
    IDS_STARTPANE_INFOTIP_HELP      "Otwiera centralną lokalizację dla tematów Pomocy, samouczków, narzędzi do rozwiązywania problemów i innych usług pomocniczych."
    IDS_STARTPANE_INFOTIP_WINSECURITY ""
    IDS_STARTPANE_INFOTIP_FILERUN   "Otwiera program, folder, dokument lub witrynę sieci Web."
    IDS_STARTPANE_INFOTIP_CLIENTINET "Otwiera przeglądarkę internetową."
    IDS_STARTPANE_INFOTIP_CLIENTMAIL "Otwiera program poczty e-mail, co umożliwia wysłanie lub odczytanie wiadomości."

    IDS_STARTPANE_TITLE_SEARCH    "&Wyszukaj"
    IDS_STARTPANE_TITLE_HELP      "Pomo&c i obsługa techniczna"
    IDS_STARTPANE_TITLE_WINSECURITY "&Zabezpieczenia systemu Windows"
    IDS_STARTPANE_TITLE_FILERUN   "Urucho&m..."
    IDS_STARTPANE_TITLE_CLIENTINET "Internet"
    IDS_STARTPANE_TITLE_CLIENTMAIL "E-mail"

END

STRINGTABLE
BEGIN
    IDS_SFTHOST_OFFERREMOVEITEM "Wybrany element jest niedostępny. Być może został przeniesiony, usunięty lub zmieniono jego nazwę. Czy chcesz usunąć go z listy?"

    IDS_SFTHOST_REMOVEFROMLIST  "&Usuń z tej listy"
    IDS_SFTHOST_SHOWONDESKTOP   "&Pokaż na pulpicie"

    IDS_STARTPANE_MOREPROGRAMS  "Wszystkie &programy"
    IDS_STARTPANE_MOREPROGRAMS_TIP "Wyświetla listę programów znajdujących się na tym komputerze."
    IDS_STARTPANE_MOREPROGRAMS_BALLOONTITLE "Zainstalowano nowe programy."
    IDS_STARTPANE_SPECIALITEMSTIP "Jeśli chcesz umieścić ikony Internet lub E-mail z powrotem w menu Start, kliknij przycisk Start prawym przyciskiem myszy, kliknij polecenie Właściwości, kliknij przycisk Dostosuj i zaznacz odpowiednie pole wyboru."

    IDS_STARTPANE_CLIPPED_TITLE     "Nie można wyświetlić niektórych elementów"
    IDS_STARTPANE_CLIPPED_TEXT      "Jest za mało miejsca na pokazanie wszystkich elementów dodanych do menu Start. Aby je wyświetlić, wybierz mniejsze ikony menu lub mniejszą liczbę elementów albo wypnij niektóre elementy."

    IDS_LOGOFF_TEXT_FRIENDLY    "|Oddokuj kompu&ter|Wy&loguj|Wyłącz &komputer|&Rozłącz||"
    IDS_LOGOFF_TEXT_DOMAIN      "|Oddokuj kompu&ter|Wy&loguj|&Zamknij system|&Rozłącz||"

    IDS_LOGOFF_TIP_EJECT       "Odłącza komputer przenośny od stacji dokowania."
    IDS_LOGOFF_TIP_LOGOFF      "Zawiera opcje dotyczące zamykania programów i wylogowywania lub pozostawiania uruchomionych programów i przełączania do innego użytkownika."
    IDS_LOGOFF_TIP_SHUTDOWN    "Zawiera opcje dotyczące wyłączania i ponownego uruchamiania komputera oraz uaktywniania trybów gotowości lub hibernacji."
    IDS_LOGOFF_TIP_DISCONNECT  "Odłącza sesję. Po ponownym zalogowaniu można ponownie podłączyć się do tej sesji."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CUSTOMTIP_MYDOCS    "Otwiera folder Moje dokumenty, w którym możesz przechowywać listy, raporty, notatki i inne rodzaje dokumentów."
    IDS_CUSTOMTIP_RECENT    "Wyświetla ostatnio otwierane dokumenty i foldery."
    IDS_CUSTOMTIP_MYMUSIC   "Otwiera folder Moja muzyka, w którym możesz przechowywać muzykę i inne pliki audio."
    IDS_CUSTOMTIP_MYPICS    "Otwiera folder Moje obrazy, w którym możesz przechowywać fotografie cyfrowe, obrazy i pliki graficzne."
    IDS_CUSTOMTIP_MYNETPLACES "Udziela dostępu i informacji o folderach i plikach na innych komputerach."
    IDS_CUSTOMTIP_MYCOMP    "Udziela dostępu i informacji o stacjach dysków, kamerach, skanerach i innym sprzęcie podłączonym do tego komputera."
    IDS_CUSTOMTIP_CONNECTTO "Łączy z innymi komputerami, sieciami i Internetem."
    IDS_CUSTOMTIP_CTRLPANEL "Zawiera opcje służące do dostosowywania wyglądu i funkcjonalności systemu, dodawania lub usuwania programów i konfigurowania połączeń sieciowych i kont użytkowników."

    IDS_STARTPANE_CONNECTTO         "P&ołącz z"
    IDS_STARTPANE_CONTROLPANEL      "Panel &sterowania"
    IDS_STARTPANE_FAVORITES         "Ulu&bione"
    IDS_STARTPANE_RECENT            "Moje bieżące &dokumenty"
END

STRINGTABLE
BEGIN
    IDS_STARTPANE_TOTALHEIGHT       "440"
    IDS_STARTPANE_TOTALWIDTH        "400"
    IDS_STARTPANE_USERHEIGHT        "40"
    IDS_STARTPANE_MOREPROGHEIGHT    "30"
    IDS_STARTPANE_LOGOFFHEIGHT      "40"
END

MENU_CONNECTTO MENUEX PRELOAD DISCARDABLE
BEGIN
                MENUITEM "", -1,               MFT_SEPARATOR
                MENUITEM "&Pokaż wszystkie połączenia", IDM_OPENCONFOLDER
END
