//This file is included from the webvw.rc so all paths to files in this file 
// should be relative to webvw directory instead of this directory
#pragma code_page(65001)
#include "resource.h"
#include "windows.h"

LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

STRINGTABLE
BEGIN
    IDS_STARTPANE_INFOTIP_SEARCH    "検索オプションを選んだり、検索結果を得たりできるウィンドウを開きます。"
    IDS_STARTPANE_INFOTIP_HELP      "ヘルプのトピック、チュートリアル、トラブルシューティング、サポート サービスなどを集中して参照できる場所を開きます。"
    IDS_STARTPANE_INFOTIP_WINSECURITY ""
    IDS_STARTPANE_INFOTIP_FILERUN   "プログラム、フォルダ、ドキュメントまたは Web サイトを開きます。"
    IDS_STARTPANE_INFOTIP_CLIENTINET "インターネット ブラウザを開きます。"
    IDS_STARTPANE_INFOTIP_CLIENTMAIL "メッセージを送信したり読んだりできる電子メール プログラムを開きます。"

    IDS_STARTPANE_TITLE_SEARCH    "検索(&S)"
    IDS_STARTPANE_TITLE_HELP      "ヘルプとサポート(&H)"
    IDS_STARTPANE_TITLE_WINSECURITY "Windows セキュリティ(&W)"
    IDS_STARTPANE_TITLE_FILERUN   "ファイル名を指定して実行(&R)..."
    IDS_STARTPANE_TITLE_CLIENTINET "インターネット"
    IDS_STARTPANE_TITLE_CLIENTMAIL "電子メール"

END

STRINGTABLE
BEGIN
    IDS_SFTHOST_OFFERREMOVEITEM "選択した項目は利用できません。移動されたか、名前が変更されたか、または削除されている可能性があります。一覧から削除しますか?"

    IDS_SFTHOST_REMOVEFROMLIST  "この一覧から削除(&F)"
    IDS_SFTHOST_SHOWONDESKTOP   "デスクトップに表示(&S)"

    IDS_STARTPANE_MOREPROGRAMS  "すべてのプログラム(&P)"
    IDS_STARTPANE_MOREPROGRAMS_TIP "コンピュータにあるプログラムの一覧を表示します。"
    IDS_STARTPANE_MOREPROGRAMS_BALLOONTITLE "新しいプログラムがインストールされました。"
    IDS_STARTPANE_SPECIALITEMSTIP "インターネットまたは電子メールのアイコンを [スタート] メニューに戻すには、[スタート] ボタンを右クリックしてから [プロパティ] をクリックし、その後 [カスタマイズ] をクリックしてから使用するショートカットのチェック ボックスをオンにしてください。"

    IDS_STARTPANE_CLIPPED_TITLE     "表示できない項目がいくつかあります"
    IDS_STARTPANE_CLIPPED_TEXT      "[スタート] メニューに追加したすべての項目を表示する領域がありません。表示するには、小さいメニュー アイコンを選択したり、項目数を減らしたりしてください。"

    IDS_LOGOFF_TEXT_FRIENDLY    "|コンピュータの装着解除(&E)|ログオフ(&L)|終了オプション(&U)|切断(&I)||"
    IDS_LOGOFF_TEXT_DOMAIN      "|コンピュータの装着解除(&E)|ログオフ(&L)|シャットダウン(&U)|切断(&I)||"

    IDS_LOGOFF_TIP_EJECT       "ドッキング ステーションからラップトップやノートブック コンピュータを外します。"
    IDS_LOGOFF_TIP_LOGOFF      "プログラムを閉じてログオフするオプションや、プログラムを実行したままで別のユーザーに切り替えるオプションを提供します。"
    IDS_LOGOFF_TIP_SHUTDOWN    "コンピュータの終了や再起動のオプション、およびスタンバイ モードや休止モードのオプションを提供します。"
    IDS_LOGOFF_TIP_DISCONNECT  "セッションを切断します。ログオンすると再びセッションに再接続できます。"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CUSTOMTIP_MYDOCS    "[マイ ドキュメント] フォルダが開き、手紙、レポート、メモなどのドキュメントを保管できます。"
    IDS_CUSTOMTIP_RECENT    "最近開いたドキュメントやフォルダを表示します。"
    IDS_CUSTOMTIP_MYMUSIC   "[マイ ミュージック] フォルダが開き、音楽ファイルやオーディオ ファイルを保管できます。"
    IDS_CUSTOMTIP_MYPICS    "[マイ ピクチャ] フォルダが開き、デジタル写真、イメージ、グラフィック ファイルを保管できます。"
    IDS_CUSTOMTIP_MYNETPLACES "ほかのコンピュータのフォルダやファイルへアクセスしたり、その情報を得たりします。"
    IDS_CUSTOMTIP_MYCOMP    "コンピュータに接続しているディスク ドライブ、カメラ、スキャナ、およびそのほかのハードウェアへアクセスしたり、その情報を得たりします。"
    IDS_CUSTOMTIP_CONNECTTO "ほかのコンピュータ、ネットワーク、およびインターネットへ接続します。"
    IDS_CUSTOMTIP_CTRLPANEL "コンピュータのデザインや機能をカスタマイズしたり、プログラムの追加または削除を行ったり、ネットワーク接続やユーザー アカウントを設定したりするオプションを提供します。"

    IDS_STARTPANE_CONNECTTO         "接続(&T)"
    IDS_STARTPANE_CONTROLPANEL      "コントロール パネル(&C)"
    IDS_STARTPANE_FAVORITES         "お気に入り(&A)"
    IDS_STARTPANE_RECENT            "最近使ったファイル(&D)"
END

STRINGTABLE
BEGIN
    IDS_STARTPANE_TOTALHEIGHT       "440"
    IDS_STARTPANE_TOTALWIDTH        "400"
    IDS_STARTPANE_USERHEIGHT        "40"
    IDS_STARTPANE_MOREPROGHEIGHT    "30"
    IDS_STARTPANE_LOGOFFHEIGHT      "40"
END

MENU_CONNECTTO MENUEX PRELOAD DISCARDABLE
BEGIN
                MENUITEM "", -1,               MFT_SEPARATOR
                MENUITEM "すべての接続の表示(&S)", IDM_OPENCONFOLDER
END
