//This file is included from the webvw.rc so all paths to files in this file 
// should be relative to webvw directory instead of this directory
#pragma code_page(65001)
#include "resource.h"
#include "windows.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

STRINGTABLE
BEGIN
    IDS_STARTPANE_INFOTIP_SEARCH    "Открытие окна для выбора параметров поиска и работы с результатами выполненного поиска."
    IDS_STARTPANE_INFOTIP_HELP      "Открытие централизованного хранилища справочных файлов, диагностики и устранения неполадок, других служб технической поддержки."
    IDS_STARTPANE_INFOTIP_WINSECURITY ""
    IDS_STARTPANE_INFOTIP_FILERUN   "Открытие программы, папки, документа или веб-узла."
    IDS_STARTPANE_INFOTIP_CLIENTINET "Открытие обозревателя Интернета."
    IDS_STARTPANE_INFOTIP_CLIENTMAIL "Открытие программы электронной почты, позволяющей отправлять и получать электронные сообщения."

    IDS_STARTPANE_TITLE_SEARCH    "Поис&к"
    IDS_STARTPANE_TITLE_HELP      "&Справка и поддержка"
    IDS_STARTPANE_TITLE_WINSECURITY "&Безопасность Windows"
    IDS_STARTPANE_TITLE_FILERUN   "&Выполнить..."
    IDS_STARTPANE_TITLE_CLIENTINET "Интернет"
    IDS_STARTPANE_TITLE_CLIENTMAIL "Электронная почта"

END

STRINGTABLE
BEGIN
    IDS_SFTHOST_OFFERREMOVEITEM "Выбранный объект недоступен. Возможно, он был перемещен, переименован или удален. Удалить его из этого списка?"

    IDS_SFTHOST_REMOVEFROMLIST  "Удалить &из этого списка"
    IDS_SFTHOST_SHOWONDESKTOP   "Отобра&жать на рабочем столе"

    IDS_STARTPANE_MOREPROGRAMS  "Все &программы"
    IDS_STARTPANE_MOREPROGRAMS_TIP "Отображение списка программ, установленных на этом компьютере."
    IDS_STARTPANE_MOREPROGRAMS_BALLOONTITLE "Недавно установленные программы."
    IDS_STARTPANE_SPECIALITEMSTIP "Можно восстановить значки Интернета и почты в меню ""Пуск"": для этого сделайте правый щелчок на кнопке ""Пуск"", выберите команду ""Свойства"", затем ""Настроить"" и установите соответствующие флажки."

    IDS_STARTPANE_CLIPPED_TITLE     "Некоторые объекты не могут быть отображены"
    IDS_STARTPANE_CLIPPED_TEXT      "Недостаточно места для отображения всех объектов, добавленных в меню ""Пуск"". Чтобы отображались все объекты, следует выбрать более мелкий размер значков, меньшее количество объектов или отменить закрепление некоторых из них."

    IDS_LOGOFF_TEXT_FRIENDLY    "|Отсты&ковка|В&ыход из системы|Выкл&ючение|Отклю&чение||"
    IDS_LOGOFF_TEXT_DOMAIN      "|Отсты&ковка|В&ыход из системы|Завер&шение работы|Отклю&чение||"

    IDS_LOGOFF_TIP_EJECT       "Извлечение переносного компьютера из стыковочного узла."
    IDS_LOGOFF_TIP_LOGOFF      "Позволяет закрыть программы и завершить сеанс, или оставить программы работающими и переключиться на другого пользователя."
    IDS_LOGOFF_TIP_SHUTDOWN    "Позволяет выключить компьютер или перезагрузить его, или перейти в ждущий или спящий режим."
    IDS_LOGOFF_TIP_DISCONNECT  "Отключение сеанса. Можно вновь подключиться к этому сеансу при следующем входе в систему."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CUSTOMTIP_MYDOCS    "Открывает папку ""Мои документы"", где можно хранить письма, отчеты, заметки и иные типы документов."
    IDS_CUSTOMTIP_RECENT    "Отображение недавно использовавшихся файлов и папок."
    IDS_CUSTOMTIP_MYMUSIC   "Открывает папку ""Моя музыка"", где можно хранить музыкальные или иные звуковые файлы."
    IDS_CUSTOMTIP_MYPICS    "Отрывает папку ""Мои рисунки"", где можно хранить цифровые фотографии, изображения и иные графические файлы."
    IDS_CUSTOMTIP_MYNETPLACES "Доступ и информация о папках и файлах на других компьютерах."
    IDS_CUSTOMTIP_MYCOMP    "Доступ и информация о дисках и других устройствах, подключенных к компьютеру."
    IDS_CUSTOMTIP_CONNECTTO "Создание подключений к другим компьютерам, сетям или Интернету."
    IDS_CUSTOMTIP_CTRLPANEL "Позволяет настраивать вид и функциональные возможности компьютера, устанавливать и удалять программы,  настраивать сетевые подключения и учетные записи пользователей."

    IDS_STARTPANE_CONNECTTO         "Подклю&чение"
    IDS_STARTPANE_CONTROLPANEL      "П&анель управления"
    IDS_STARTPANE_FAVORITES         "&Избранное"
    IDS_STARTPANE_RECENT            "Н&едавние документы"
END

STRINGTABLE
BEGIN
    IDS_STARTPANE_TOTALHEIGHT       "440"
    IDS_STARTPANE_TOTALWIDTH        "380"
    IDS_STARTPANE_USERHEIGHT        "40"
    IDS_STARTPANE_MOREPROGHEIGHT    "30"
    IDS_STARTPANE_LOGOFFHEIGHT      "40"
END

MENU_CONNECTTO MENUEX PRELOAD DISCARDABLE
BEGIN
                MENUITEM "", -1,               MFT_SEPARATOR
                MENUITEM "&Отобразить все подключения", IDM_OPENCONFOLDER
END
